# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#folder
build
logs
devel
*.log
*.tags
*.tags1

*.includecache

*.cmake

src/mavpi/src/SerialCom/Makefile

*.marks

*.cxx

*.check_cache

*.bin

*.make

src/mavpi/src/SerialCom/CMakeCache\.txt

src/mavpi/src/SerialCom/CMakeFiles/
